
// flexbox mixins

@mixin d-flex($direction: row, $jst-ctn: start, $alg-items: start) {
  display: flex;
  flex-direction: $direction;
  justify-content: $jst-ctn;
  align-items: $alg-items;
}

@mixin transition {
  -webkit-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

@mixin position($position, $top: null, $right: null, $bottom: null, $left: null){
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin default-bg($position: center){
  background-position: $position;
  background-repeat: no-repeat;
  background-size: cover;
}