// colors bg
$bg-logo: #cdc4b7;
$bg-footer: #333536;

// colors font
$white: #fff;
$black: #000;
$text-p: #858483;
$text-footer: #d2d0c8;

// font size
// desktop
$font-d-xs: 0.5625rem;
$font-d-sm: 0.75rem;
$font-d-md: 1.125rem;
$font-d-lg: 1.25rem;
$font-d-xl: 1.6876rem;
$font-d-xxl: 2.5rem;

// mobile wip
$font-m-xs: 0.5625rem;
$font-m-sm: 0.75rem;
$font-m-md: 1.125rem;
$font-m-lg: 1.25rem;
$font-m-xl: 1.6876rem;
$font-m-xxl: 2.5rem;

// transition