// colors bg
$bg-logo: #cdc4b7;
$bg-footer: #333536;

// colors font
$white: #fff;
$black: #000;
$text-p: #858483;
$text-footer: #d4ac84;

// fonts family

@font-face {
  font-family: 'Montserrat-r';
  src: local('Montserrat-r'), url('@/scss/fonts/Montserrat-Regular.ttf')  format('truetype'), 
}
// font-family: "Montserrat-r", "sans-serif";

@font-face {
  font-family: 'Montserrat-b';
  src: local('Montserrat-b'), url('@/scss/fonts/Montserrat-Bold.ttf')  format('truetype'), 
}
// font-family: "Montserrat-b", "sans-serif";

@font-face {
  font-family: 'Miller';
  src: local('Miller'), url('@/scss/fonts/Miller-Display_30501.ttf')  format('truetype'), 
}
// font-family: "Miller", "sans-serif";

@font-face {
  font-family: 'Merriweather';
  src: local('Merriweather'), url('@/scss/fonts/Merriweather-Regular.ttf')  format('truetype'), 
}
// font-family: "Merriweather", "sans-serif";

