@import 'variables.scss';
@import 'mixins.scss';

*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

h1{
  font-size: $font-m-xxl;
  color: $black;
  font-family: "Miller", "sans-serif";
}

h2{
  font-size: $font-m-xl;
  color: $black;
  font-family: "Miller", "sans-serif";
}

h3{
  font-size: $font-m-lg;
  color: $black;
  font-family: "Miller", "sans-serif";
}

h4{
  font-size: $font-m-md;
  color: $black;
  font-family: "Miller", "sans-serif";
}

p{
  font-size: $font-m-sm;
  color: $text-p;
  font-family: "Miller", "sans-serif";
}

ul li{
  font-size: $font-m-xs;
  color: $black;
}

a{
  text-decoration: none;
}

a.btn{
  width: 13.5625rem;
  height: 2.6875rem;
  border: 1px solid $text-footer;
  color: $text-footer;
  @include d-flex(row, center, center);
}