@import 'variables.scss';
@import 'mixins.scss';
@import '~@fortawesome/fontawesome-free/css/all.min.css';

*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

// logo
h1{
  font-size: 1.7rem;
  font-family: "Montserrat-b", "sans-serif";
  letter-spacing: 4px;
}

// general titles
h2{
  font-size: $font-m-xl;
  letter-spacing: 3px;
  color: $black;
  font-family: "Miller", "sans-serif";

  @include breakpoint-up(large){
    font-size: 3.5rem;
  };
}

h3{
  font-size: 1.7rem;
  letter-spacing: 1px;
  color: $black;
  font-family: "Miller", "sans-serif";

  @include breakpoint-up(large){
    font-size: 2.5rem;
  };
}

h4{
  font-size: $logo; // ok size
  font-family: "Montserrat-b", "sans-serif";
}

p{
  &.up-b{
    letter-spacing: 3px;
    font-family: "Montserrat-b", "sans-serif";
    font-size: 0.75rem;
    text-transform: uppercase;
  }

  &.sm{
    font-family: "Montserrat-r", "sans-serif";
    font-size: 0.75rem;
  }

  &.mer{
    font-family: "Merriweather", "sans-serif";
    color: $text-p;
    line-height: 2;
    font-size: .8rem;
    letter-spacing: 2px;

    @include breakpoint-up(large){
      font-size: .9rem;
    };
  }

  font-size: $font-m-sm;
}

ul li{
  font-size: $font-m-md;
  color: $black;

  @include breakpoint-up(large){
    font-size: $font-d-sm; // ok size
  };
}

ul{
  list-style-type: none;
}

a{
  text-decoration: none;
}

div.overlay{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: rgba($color: $black, $alpha: .4);
}

.uppercase{
  text-transform: uppercase;
}

.text-center{
  text-align: center;
}

.container{
  max-width: 1200px;
  width: auto;
  margin: 0 auto;
}