@import 'variables.scss';
@import 'mixins.scss';
@import 'breakpoints.scss';
@import 'helpers.scss';
@import 'reset.scss';
@import '~@fortawesome/fontawesome-free/css/all.min.css';

// logo
h1{
  font-family: "Montserrat-b", "sans-serif";
  font-size: 1.7rem;
  letter-spacing: 4px;
  text-transform: uppercase;
}

// general titles
h2{
  font-family: "Miller", "sans-serif";
  font-size: 1.7rem;
  letter-spacing: 3px;
  color: $black;

  @include breakpoint-up(large){
    font-size: 3.5rem;
  }
}

h3 {
  font-family: "Miller", "sans-serif";
  font-size: 1.7rem;
  letter-spacing: 1px;
  color: $black;

  @include breakpoint-up(large) {
    font-size: 2.5rem;
  }
}

h4{
  font-family: "Miller", "sans-serif";
  font-size: 2rem;
}

h5{
  @include position(relative);
  z-index: 3;
  font-family: "Miller", "sans-serif";
  font-size: 1rem;
  width: 50%;
}

p{
  &.up-b{
    font-family: "Montserrat-b", "sans-serif";
    font-size: 0.75rem;
    letter-spacing: 3px;
    text-transform: uppercase;
  }

  &.sm{
    font-family: "Montserrat-r", "sans-serif";
    font-size: 0.75rem;
  }

  &.mer{
    font-family: "Merriweather", "sans-serif";
    font-size: .8rem;
    letter-spacing: 2px;
    line-height: 2;
    color: $text-p;
  }

  font-size: 0.75rem;
}

ul li{

  a.header{
    font-size: 1.5rem;
    letter-spacing: 1px;
    color: $black;
    @include transition;

    &:hover{
      text-decoration: underline;
    }

    @include breakpoint-up(large){
      font-size: 0.75rem;
    };
  }

  a.footer{
    font-size: .75rem;
  }

}